body {

  font-family: 'Figtree', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.phone-frame { /*Puhelimen frame*/
  width: 414px;
  height: 900px;
  margin: 0 auto;
  background-color: #F0F0F0;
  border-radius: 16px;
  border: 6px solid #121212;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


header {
  background-color: #F0F0F0;
  text-align: left;
  padding: 16px;
  padding-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
  border-bottom: 1px solid #dcdcdc;
}


main::-webkit-scrollbar {
  display: none;
}


main {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  padding-top: 0px;
}


section h2 { /* Ilmoitukset ja tavoitteet -otsikot*/
  font-size: 16px;
  color: #0E2634;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 48px;
}


.card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 24px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-text {
  display: flex;
  flex-direction: column;
}


.card-text strong {
  font-size: 16px;
  color: #0E2634;
  padding-bottom: 4px;
}


.status {
  font-size: 16px;
  color: #0e2634d0; /*Kuutamo 80%*/
}


.toggle {
  position: relative;
  width: 64px;
  height: 35.3px;
  background-color: #ccc;
  border-radius: 15.86px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}


.toggle::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}


.toggle.on {
  background-color: #5271ff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.20);
  border: 1px solid #3654DA;
}


.toggle.on::after {
  transform: translateX(29px);
}


/* TAVOITTEET */

.goal-card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 24px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.goal-card.small {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.goal-header p {
  font-size: 16px;
  color: #0e2634d0;
  margin-top: 6px;
}


.update-btn {
  background-color: #5271ff;
  color: white;
  font-family: 'Figtree', sans-serif;
  border: none;
  border-radius: 50px;
  padding: 8px 8px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 334px;
  align-self: center;
}


.material-symbols-outlined { /* Ikonit */

  font-variation-settings:

    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

  font-size: 26px;

}


/* ALANAVIGAATIO */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F0F0F0;
  border-top: 1px solid #ddd;
  padding: 18px 0;
}


nav span { /*Alanavigaation fonttikoko*/
  font-size: 11px;
  color: #4D758C;
}


.nav-item {

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #4D758C;
}


nav .nav-item .material-symbols-outlined {
  color: #4D758C;
}


nav .nav-item span {
  color: #4D758C;
}


.nav-item .material-icons {
  font-size: 22px;
  margin-bottom: 2px;
}
